<!-- Розмітка для пошуку зображень -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body>
    <div id="root">
        <form id="form">
            <input type="" id="input">
            <button type="submit" class="submit">Search</button>
        </form>
    </div>

    <!-- <form class="search-form" id="search-form">
        <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
    </form> -->

    <div class="container">
        <ul class="jsmarkup"></ul>
        <!-- <button id="more" class="submit">Load more</button> -->
    </div>
    <!-- <script src="js/scrollmagic/minified/ScrollMagic.min.js"></script> -->
</body>
</html>


<!-- Розмітка для створення і видалення... -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="root">
        <form id="form">
            <input type="" id="input">
            <button type="submit" class="submit">Add</button>
        </form>
    </div>

    <div class="container">
        <ul class="jsmarkup">
            
        </ul>
    </div>
    
</body>
</html> -->